<!DOCTYPE html>
<!-- Thymeleaf 선언 / FooterFragment 임을 선언-->
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="FooterFragment">

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-5 col-md-12 footer-info">
          <a th:href="@{/}" class="logo d-flex align-items-center">
            <span>Atlan Bank</span>
          </a>
          <p>Atlan Bank는 사이드 프로젝트로 개발한 실제로 존재하지 않는 인터넷 은행입니다.<br>
          <b>김수진, 박나래, 이승원, 이재용, 이정은, 차민재, 허수경</b>이 개발하였습니다.</p>
          <div class="social-links d-flex mt-4">
            <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
            <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
            <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
            <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>Links</h4>
          <ul>
            <li><a th:href="@{/index.do}">Home</a></li>
            <li><a th:href="@{/about.do}">About us</a></li>
            <!-- <li><a th:href="@{/services}">Services</a></li>
            <li><a th:href="@{/terms-of-service}">Terms of service</a></li>
            <li><a th:href="@{/privacy-policy}">Privacy policy</a></li> -->
          </ul>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>Our Services</h4>
          <ul>
            <li><a href="https://github.com/Isaac-Seungwon/atlan-bank">GitHub</a></li>
            <li><a href="https://drive.google.com/drive/folders/1gPslixR1Pas0RLuNZ42tMTtMg37yuWAZ">Google Drive</a></li>
            <li><a href="https://bald-cherry-f3c.notion.site/Atlan-Bank-77a4aa197b514932a311e12180d6caf8">Notion</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
          <h4>Contact Us</h4>
          <p>
            Atlan Bank<br>
            Gangnam, Seoul<br>
            South Korea<br><br>
            <!-- <strong>Phone:</strong> +1 5589 55488 55<br> -->
            <!-- <strong>Email:</strong> atlanbank@atbank.com<br> -->
          </p>
        </div>
      </div>
    </div>

    <div class="container mt-4">
      <div class="copyright">
        &copy; Copyright <strong><span>Logis</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/logis-bootstrap-logistics-website-template/ -->
        Designed by <a th:href="@{https://bootstrapmade.com/}" target="_blank">BootstrapMade</a>
        
      </div>
    </div>

  </footer><!-- End Footer -->
  <!-- End Footer -->
</html>
