<!DOCTYPE html>
<!-- Thymeleaf 선언 / headerFragment 임을 선언-->
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:fragment="HeaderFragment">
<!-- ======= Header ======= -->
<header id="header" class="header d-flex align-items-center fixed-top">
	<div
		class="container-fluid container-xl d-flex align-items-center justify-content-between">

		<a th:href="@{/index.do}" class="logo d-flex align-items-center">
			<!-- <img th:src="@{/assets/img/test_logo.png}" alt=""> -->
			<h1>Atlan Bank</h1>
		</a> <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i> <i
			class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
		<nav id="navbar" class="navbar">
			<ul>
				<li class="dropdown"><a th:href="@{/about.do}"><span>소개</span>
						<i class="bi bi-chevron-down dropdown-indicator"></i></a>
					<ul>
						<li><a th:href="@{/about.do}">소개</a></li>
						<li><a th:href="@{/ticket/searchbank.do}">지점찾기/번호표 발행</a></li>
						<li><a th:href="@{/ticket/myticket.do}">번호표 확인</a></li>
					</ul></li>
				<li class="dropdown"><a th:href="@{/user/deposit/view.do}"><span>예금</span>
						<i class="bi bi-chevron-down dropdown-indicator"></i></a>
					<ul>
						<li><a th:href="@{/index.do}">계좌 1</a></li>
						<li><a th:href="@{/index.do}">계좌 2</a></li>
						<li><a th:href="@{/index.do}">계좌 3</a></li>
					</ul></li>
				<li class="dropdown"><a th:href="@{/user/event/view.do}"><span>소식</span>
						<i class="bi bi-chevron-down dropdown-indicator"></i></a>
					<ul>
						<li><a th:href="@{/user/news/view.do}">오늘의 소식</a></li>
						<li><a th:href="@{/user/event/view.do}">전체 이벤트</a></li>
						<li><a th:href="@{/user/benefit/view.do}">전체 혜택</a></li>
						<li><a th:href="@{/index.do}">전체 혜택</a></li>
					</ul></li>
				<li class="dropdown"><a th:href="@{/loan/view.do}"><span>대출</span>
						<i class="bi bi-chevron-down dropdown-indicator"></i></a>
					<ul>
						<li><a th:href="@{/loan/list.do?type=신용대출}">신용대출</a></li>
						<li><a th:href="@{/loan/list.do?type=담보대출}">담보대출</a></li>
						<li><a th:href="@{/loan/list.do?type=전월세/반환보증}">전월세/반환보증</a></li>
						<li><a th:href="@{/loan/list.do?type=자동차대출}">자동차대출</a></li>
					</ul></li>
				<li class="dropdown"><a th:href="@{/user/forex/view.do}"><span>외환</span>
						<i class="bi bi-chevron-down dropdown-indicator"></i></a>
					<ul>
						<li><a th:href="@{/user/forex/view.do}">환율 조회하기</a></li>
						<li><a th:href="@{/user/forex/application.do}">환전 신청하기</a></li>
						<!-- <li><a th:href="@{/member/forex/myapplication.do}">내 환전 관리하기</a></li> -->
					</ul></li>
				<li class="dropdown"><a th:href="@{/user/card/view.do}"><span>카드</span>
						<i class="bi bi-chevron-down dropdown-indicator"></i></a>
					<ul>
						<li><a th:href="@{/user/card/view.do}">카드 한눈에 보기</a></li>
						<li><a th:href="@{/user/card/credit/view.do}">신용카드</a></li>
						<li><a th:href="@{/user/card/debit/view.do}">체크카드</a></li>
					</ul></li>
				<!--
                    <li class="dropdown"><a href="#"><span>Drop Down</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
                        <ul>
                            <li><a href="#">Drop Down 1</a></li>
                            <li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
                                <ul>
                                    <li><a href="#">Deep Drop Down 1</a></li>
                                    <li><a href="#">Deep Drop Down 2</a></li>
                                    <li><a href="#">Deep Drop Down 3</a></li>
                                    <li><a href="#">Deep Drop Down 4</a></li>
                                    <li><a href="#">Deep Drop Down 5</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Drop Down 2</a></li>
                            <li><a href="#">Drop Down 3</a></li>
                            <li><a href="#">Drop Down 4</a></li>
                        </ul>
                    </li>
                    -->
                    <li class="dropdown" th:if="${#authentication.principal != 'anonymousUser'}"><a href="#"><span style="color: white;" th:text="${#authentication.principal.name} + ' 님'"></span>
						</a>
					<ul>
						<li><a th:href="@{/user/card/view.do}">마이페이지</a></li>
						<li><a th:href="@{/logout}">로그아웃</a></li>
					</ul></li>
				<li th:if="${#authentication.principal == 'anonymousUser'}">
					<a class="get-a-quote" th:href="@{/user/login}">로그인</a>
				</li>
			</ul>
		</nav>
		<!-- .navbar -->

	</div>
</header>
<!-- End Header -->

</html>
