<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.test.bank.card.mapper.CardMapper">

	<!-- User용 -->
	<select id="getCategoryCreditCardList" parameterType="String" resultType="com.test.bank.card.domain.CardDTO">
		select * from tblCard where type = 1 and category = #{category}
	</select>
	
	<select id="getAnnualFeeList" parameterType="String" resultType="com.test.bank.card.domain.CardAnnualFeeDTO">
		select a.card_annual_fee_seq, b.annual_fee_no, b.brand, b.annual_fee, a.card_seq
		from tblCardAnnualFee a
		inner join tblAnnualFee b
		on b.annual_fee_no = a.annual_fee_no
		where card_seq = #{seq}
	</select>
	
	<select id="getNewCreditCardList" resultType="com.test.bank.card.domain.CardDTO">
		select * from (select * from tblCard where type = 1 order by card_seq desc) where rownum <![CDATA[<=]]> 3
	</select>
	
	<select id="getCard" parameterType="String" resultType="com.test.bank.card.domain.CardDTO">
		select * from tblCard where card_seq = #{seq}
	</select>
	
	<select id="getCategoryDebitCardList" parameterType="String" resultType="com.test.bank.card.domain.CardDTO">
		select * from tblCard where type = 2 and category = #{category}
	</select>
	
	<select id="getBenefitList" parameterType="String" resultType="com.test.bank.card.domain.BenefitsDTO">
		select a.benefits_no, a.type, a.subject, a.content, a.rate, a.limit, a.prev_month_perf, a.img, b.card_benefit_seq, b.card_seq
		from tblBenefits a
		inner join tblCardBenefit b
		on a.benefits_no = b.benefits_no
		where b.card_seq = #{seq}
	</select>
		
	<select id="getCardUsageGuideList" parameterType="String" resultType="com.test.bank.card.domain.CardUsageGuideDTO">
		select *
		from tblCardUsageGuide
		where card_seq = #{seq}
	</select>
	
	<select id="getSearchCardList" parameterType="String" resultType="com.test.bank.card.domain.CardDTO">
		select * from tblCard where name like '%' || #{word} || '%'
	</select>
	
	<select id="getPrevMonthCardHistory" parameterType="String" resultType="com.test.bank.card.domain.MemberCardHistoryDTO">
		select
		    a.member_seq,
		    (select name from tblMember where member_seq = a.member_seq) as name,
		    a.member_card_seq,
		    a.card_no,
		    a.card_seq,
		    b.member_card_history_seq,
		    b.transaction_date,
		    b.amount,
		    b.installment_months
		  from tblMemberCard a
		 inner join tblMemberCardHistory b
		    on a.member_card_seq = b.member_card_seq
		 where 1=1 and
		       b.member_card_history_seq not in (select member_card_history_seq from tblPayment) and
		       member_seq = #{memberSeq} and
		       to_char(transaction_date, 'yyyy-mm') = to_char(sysdate, 'yyyy-mm')
	</select>
	
	<select id="getFiveHistoryList" parameterType="String" resultType="com.test.bank.card.domain.MemberCardHistoryDTO">
		select * from(
			select
			    b.member_seq,
			    a.member_card_history_seq,
			    a.member_card_seq,
			    to_char(a.transaction_date, 'YYYY-MM-DD HH24:MI') as transaction_date,
			    a.name,
			    a.amount,
			    a.installment_months,
			    (select name from tblCard where card_seq = b.card_seq) as card_name
			  from tblMemberCardHistory a
			 inner join tblMemberCard b
			    on b.member_card_seq = a.member_card_seq
			 where member_seq = 2
			 order by transaction_date desc)
		where rownum &lt;= 5
	</select>
	
	<select id="checkPassword" parameterType="map" resultType="int">
		SELECT
		    count(*)
		  FROM tblMemberCard
		 WHERE 1=1 and
		       member_seq = #{memberSeq} and
		       substr(card_no, length(card_no)-3) = #{cardNo} and
		       substr(password, 0, 2) = #{pw}
	</select>
	
	<select id="getMemberCardList" parameterType="String" resultType="com.test.bank.card.domain.MemberCardDTO">
		select
		    a.member_card_seq,
		    a.member_seq,
		    SUBSTR(a.card_no, 1, 4) || '-' || RPAD('*', 4, '*') || '-' || RPAD('*', 4, '*') || '-' || SUBSTR(a.card_no, 13) AS card_no,
		    a.card_seq,
		    a.exp,
		    a.password,
		    (select name from tblCard where card_seq = a.card_seq) as name
		from tblMemberCard a
		where member_seq = #{seq}
		order by a.member_card_seq desc
	</select>
	
	<select id="getAllThisMonthPaymentList" parameterType="String" resultType="com.test.bank.card.domain.MemberCardHistoryDTO">
		select
		    a.member_card_history_seq,
		    b.member_seq,
		    b.member_card_seq,
		    b.card_seq,
		    (select name from tblCard where card_seq = b.card_seq) as card_name,
		    to_char(a.transaction_date, 'yyyy-mm-dd') as transaction_date,
		    a.name,
		    a.amount,
		    a.installment_months
		from tblMemberCardHistory a 
		inner join tblmembercard b
		on b.member_card_seq = a.member_card_seq
		where to_char(transaction_date, 'yyyymm') = to_char(add_months(sysdate, -1), 'yyyymm') and
			  b.member_seq = #{seq} and
			  a.member_card_history_seq not in (select member_card_history_seq from tblPayment where member_card_history_seq = a.member_card_history_seq)
		order by a.transaction_date asc
	</select>
	
	<select id="getThisMonthTotalAmount" parameterType="String" resultType="int">
		SELECT
		    sum(amount) as sum
		  FROM tblMemberCardHistory a
		 INNER JOIN tblMemberCard b
		    ON b.member_card_seq = a.member_card_seq
		 WHERE 1=1 and
		       to_char(transaction_date, 'yyyymm') = to_char(add_months(sysdate, -1), 'yyyymm') and
		       b.member_seq = #{seq} and
		       a.member_card_history_seq not in (select member_card_history_seq from tblPayment where member_card_history_seq = a.member_card_history_seq)
	</select>
	
	<select id="getThisMonthTotalSeq" parameterType="String" resultType="String">
		SELECT
		    a.member_card_history_seq
		  FROM tblMemberCardHistory a
		 INNER JOIN tblMemberCard b
		    ON b.member_card_seq = a.member_card_seq
		 WHERE 1=1 and
		       to_char(transaction_date, 'yyyymm') = to_char(add_months(sysdate, -1), 'yyyymm') and
		       b.member_seq = #{seq} and
		       a.member_card_history_seq not in (select member_card_history_seq from tblPayment where member_card_history_seq = a.member_card_history_seq)
	</select>
	
	<select id="getThisMonthSpecificTotalAmount" parameterType="String" resultType="int">
		SELECT
			amount
		  FROM tblMemberCardHistory
		 WHERE member_card_history_seq = #{memberCardHistorySeq}
	</select>
	
	<select id="getThisMonthSpecificAmountList" parameterType="map" resultType="com.test.bank.card.domain.MemberCardHistoryDTO">
		select
		    a.member_card_history_seq,
		    b.member_seq,
		    b.member_card_seq,
		    b.card_seq,
		    (select name from tblCard where card_seq = b.card_seq) as card_name,
		    to_char(a.transaction_date, 'yyyy-mm-dd') as transaction_date,
		    a.name,
		    a.amount
		from tblMemberCardHistory a 
		inner join tblmembercard b
		on b.member_card_seq = a.member_card_seq
		where a.member_card_history_seq = #{memberCardHistorySeq}
	</select>
	
	<select id="checkBalance" parameterType="map" resultType="int">
		select
		    balance
		  from tblBankBook
		 where bank_book_seq = (
		     select distinct bank_book_seq
		       from tblMemberCard
		      where member_seq = #{memberSeq})		
	</select>
	
	<select id="getAmount" parameterType="String" resultType="String">
		select amount from tblMemberCardHistory where member_card_history_seq = #{seq}
	</select>
	
	<insert id="AddPayment" parameterType="map">
		insert into tblPayment (payment_seq, member_card_history_seq, payment_date, amount) values (payment_seq.nextVal, #{memberCardHistorySeq}, TO_DATE(sysdate, 'YYYY-MM-DD HH24:MI'), #{amount})
	</insert>
	
	<update id="withdraw" parameterType="map">
		update tblBankBook set balance = balance - #{amount}
			where bank_book_seq = (
		     select distinct bank_book_seq
		       from tblMemberCard
		      where member_seq = #{memberSeq})
	</update>
	
	<select id="getAccountNumber" parameterType="map" resultType="String">
		select
		    account_number
		  from tblBankBook
		 where bank_book_seq = (
		     select distinct bank_book_seq
		       from tblMemberCard
		      where member_seq = #{memberSeq})
	</select>
	
	<select id="getAllPaymentList" parameterType="String" resultType="com.test.bank.card.domain.MemberCardHistoryDTO">
		select
		    a.member_card_history_seq,
		    b.member_seq,
		    b.member_card_seq,
		    b.card_seq,
		    (select name from tblCard where card_seq = b.card_seq) as card_name,
		    to_char(a.transaction_date, 'YYYY-MM-DD HH24:MI') as transaction_date,
		    a.name,
		    a.amount,
		    a.installment_months
		from tblMemberCardHistory a 
		inner join tblmembercard b
		on b.member_card_seq = a.member_card_seq
		where b.member_seq = #{seq}
		order by a.transaction_date desc
	</select>
	
	<select id="autocomplete" parameterType="map" resultType="map">
		SELECT
			name
		  FROM tblCard
		 WHERE name like '%' || #{value} || '%'
	</select>
	
</mapper>