<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.test.bank.card.mapper.CardMapper">

	<!-- User용 -->
	<select id="getCategoryCreditCardList" parameterType="String" resultType="com.test.bank.card.domain.CardDTO">
		select * from tblCard where type = 1 and category = #{category}
	</select>
	
	<select id="getAnnualFeeList" parameterType="String" resultType="com.test.bank.card.domain.CardAnnualFeeDTO">
		select a.card_annual_fee_seq, b.annual_fee_no, b.brand, b.annual_fee, a.card_seq
		from tblCardAnnualFee a
		inner join tblAnnualFee b
		on b.annual_fee_no = a.annual_fee_no
		where card_seq = #{seq}
	</select>
	
	<select id="getNewCreditCardList" resultType="com.test.bank.card.domain.CardDTO">
		select * from (select * from tblCard where type = 1 order by card_seq desc) where rownum <![CDATA[<=]]> 3
	</select>
	
	<select id="getCard" parameterType="String" resultType="com.test.bank.card.domain.CardDTO">
		select * from tblCard where card_seq = #{seq}
	</select>
	
	<select id="getCategoryDebitCardList" parameterType="String" resultType="com.test.bank.card.domain.CardDTO">
		select * from tblCard where type = 2 and category = #{category}
	</select>
	
	<select id="getBenefitList" parameterType="String" resultType="com.test.bank.card.domain.BenefitsDTO">
		select a.benefits_no, a.type, a.subject, a.content, a.rate, a.limit, a.prev_month_perf, a.img, b.card_benefit_seq, b.card_seq
		from tblBenefits a
		inner join tblCardBenefit b
		on a.benefits_no = b.benefits_no
		where b.card_seq = #{seq}
	</select>
		
	<select id="getCardUsageGuideList" parameterType="String" resultType="com.test.bank.card.domain.CardUsageGuideDTO">
		select *
		from tblCardUsageGuide
		where card_seq = #{seq}
	</select>
	
	<select id="getSearchCardList" parameterType="String" resultType="com.test.bank.card.domain.CardDTO">
		select * from tblCard where name like '%' || #{word} || '%'
	</select>
	
</mapper>