<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layout/layout}" 
	layout:fragment="Content">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
	ul {
		padding-left: 14px;
	}
	.img-safe {
		float: left;
		margin-bottom: 20px;
		margin-right: 5px;
	}
	
</style>
</head>
<body>

	
	<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
      <div class="page-header d-flex align-items-center" style="background-image: url('assets/img/page-header.jpg');">
        <div class="container position-relative">
          <div class="row d-flex justify-content-center">
            <div class="col-lg-6 text-center">
              <h2>예금 상품</h2>
              
            </div>
          </div>
        </div>
      </div>
      <nav>
        <div class="container">
          <ol>
            <li><a href="index.html">Home</a></li>
            <li>예금</li>
          </ol>
        </div>
      </nav>
    </div><!-- End Breadcrumbs -->

  
    

    <!-- ======= Services Section ======= -->
    <section id="service" class="services pt-0">
      <div class="container" data-aos="fade-up">

        <div class="container">
        <div class="row">
		  <div class="col-2">
		  	<div>
				여기에는 메뉴		  	
		  	</div>
		  </div>
		
		  <div class="col-10 ">
          <div class="container my-5" style="width: 1000px;">
		    <div class="bg-body-tertiary p-5 rounded border">
		      <div class="col-sm-8 py-5 mx-auto">
		      	<div class="border-bottom">
		        	<h1 class="display-5 fw-normal" th:text="${dto.name}">수진 정기예금</h1>
		        	<p class="fs-5" th:text="${dto.simInfo}">설명 설명 설명</p>
		        </div>
		        <div class="container">
				     <div class="row border-top py-3">
						<div class="col-4">
				          <div class="row">
					        <div class="col-4 col-sm-4">
					          <img src="https://oimg1.kbstar.com/img/ocommon/2018/product/icon_info1.png" >
					        </div>
					        <div class="col-8 col-sm-8">
					          <div class="row row-cols-1 pt-2">
							    <div class="col">기간</div>
							    <div class="col fw-bold" th:utext="${dateInfo}">1~60개월</div>
							  </div>
					        </div>
					      </div>
				       	</div>
						
						<div class="col-4">
				          <div class="row">
					        <div class="col-4 col-sm-4">
								<img src="https://oimg1.kbstar.com/img/ocommon/2018/product/icon_info2.png" >
					        </div>
					        <div class="col-8 col-sm-8">
					          <div class="row row-cols-1 pt-2">
							    <div class="col">금액</div>
							    <div class="col fw-bold" th:text="${dto.joinFee}">10만원 이상</div>
							  </div>
					        </div>
					      </div>
				       	</div>
				       	
				       	<div class="col-4">
				          <div class="row">
					        <div class="col-4 col-sm-4">
								<img src="https://oimg1.kbstar.com/img/ocommon/2018/product/icon_info3.png" >
					        </div>
					        <div class="col-8 col-sm-8">
					          <div class="row row-cols-1 pt-2">
							    <div class="col">금리</div>
							    <div class="col fw-bold" th:text="${dto.interestRate + '%'}">연 3%</div>
							  </div>
					        </div>
					      </div>
				       	</div>
	            	</div>
				</div>
		        
		        <div class="mt-3">
		          <a class="btn btn-primary" href="/docs/5.3/components/navbar/#offcanvas" role="button">가입하기</a>
		        </div>
		        
		        
		    </div>
		    </div>
		    
		    
		    
		  </div>
		
		<!-- ======= Frequently Asked Questions Section ======= -->
    <section id="faq" class="faq" style="padding-top: 0;">
      <div class="container" data-aos="fade-up">

        

        <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="200" >
          <div class="col-lg-10" style="width: 1000px;">

            <div class="accordion accordion-flush" id="faqlist">

              <div class="accordion-item border">
                <h3 class="accordion-header">
                  <button class="accordion-button " type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-1">
                    <i class="bi bi-question-circle question-icon"></i>
                    상품 안내
                  </button>
                </h3>
                <div id="faq-content-1" class="accordion-collapse collapse show" data-bs-parent="#faqlist">
                  <div class="accordion-body">
                    
                    <!--  -->
                    
                    <div class="container">
			        <div class="row border-top border-bottom py-2">
					  <div class="col-3">
					  	<div>
							<h5 class="fw-bold">상품 특징</h5>		  	
					  	</div>
					  </div>
					
					  <div class="col-9">
			          	<div th:text="${dto.info}">
			          		목돈을 일정기간동안 예치하여 안정적인 수익을 목적으로 하는 일시예치식 예금입니다.
			          	</div>
			          </div>
                    </div>
                    
                    <div class="row border-bottom py-2">
					  <div class="col-3">
					  	<div>
							<h5 class="fw-bold">가입 대상</h5>		  	
					  	</div>
					  </div>
					
					  <div class="col-9">
			          	<div th:text="${dto.joinInfo}">
			          		목돈을 일정기간동안 예치하여 안정적인 수익을 목적으로 하는 일시예치식 예금입니다.
			          	</div>
			          </div>
                    </div>
                    
                    
                    <div class="row border-bottom py-2">
					  <div class="col-3">
					  	<div>
							<h5 class="fw-bold">계약 기간</h5>		  	
					  	</div>
					  </div>
					
					  <div class="col-9">
			          	<div th:text="${dto.joinDateInfo}">
			          		목돈을 일정기간동안 예치하여 안정적인 수익을 목적으로 하는 일시예치식 예금입니다.
			          	</div>
			          </div>
                    </div>
                    
                    
                    <div class="row border-bottom py-2">
					  <div class="col-3">
					  	<div>
							<h5 class="fw-bold">가입 금액</h5>		  	
					  	</div>
					  </div>
					
					  <div class="col-9">
			          	<div th:text="${dto.joinFee}">
			          		목돈을 일정기간동안 예치하여 안정적인 수익을 목적으로 하는 일시예치식 예금입니다.
			          	</div>
			          </div>
                    </div>
                    
                    </div>
                    <!--  -->
                    
                  </div>
                </div>
              </div><!-- # Faq item-->

              <div class="accordion-item border">
                <h3 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-2">
                    <i class="bi bi-question-circle question-icon"></i>
                    금리 및 이율
                  </button>
                </h3>
                <div id="faq-content-2" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                  <div class="accordion-body">
					  
					<div>
						<p>조회일 기준, 세금공제전, 단위: 연%</p>
					<table class="table table-bordered text-center">
						<thead class="table-success">
						    <tr>
								<th>
									기간
								</th>
								<th>
									만기지급식(확정금리)
								</th>
							</tr>
						</thead>
						<tbody th:each="list : ${rateList}">
						    <tr>
								<td th:text="${list.info}">
									1개월이상~3개월미만
								</td>
								<td th:text="${list.interestRate}">
									1.65
								</td>
							</tr>
						</tbody>
					</table>
					</div>
					  
                  </div>
                </div>
              </div><!-- # Faq item-->

              <div class="accordion-item border">
                <h3 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-3">
                    <i class="bi bi-question-circle question-icon"></i>
                    유의사항
                  </button>
                </h3>
                <div id="faq-content-3" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                  <div class="accordion-body">
                    <div class="container">
						
		        		<div class="row border-bottom border-top py-2" >
		        			<div class="col-3">
		        				<div>예금유의사항</div>
		        			</div>
		        			<div class="col-9">
								<ul>
									<li>
										이 금융상품을 가입하시기 전에 상품설명서 및 약관을 읽어보시기 바랍니다.
									</li>
									<li>
										금융소비자는 해당 상품 또는 서비스에 대하여 설명받을 권리가 있습니다.
									</li>
									<li>
										만기 전 해지할 경우 계약에서 정한 이율보다 낮은 중도해지이율이 적용됩니다.
									</li>
									<li>
										계좌에 압류, 가압류 등이 등록될 경우 원금 및 이자 지급이 제한될 수 있습니다.
									</li>
								</ul>
		        			</div>
		        		</div>
		        		
		        		<div class="row border-bottom py-2" >
		        			<div class="col-3">
		        				<div>세제혜택</div>
		        			</div>
		        			<div class="col-9">
								<div>비과세종합저축으로 가입 가능</div>
								<div>※ 관련 세법이 개정될 경우 세율이 변경되거나 세금이 부과될 수 있음</div>
								<div>※ 계약기간 만료일 이후의 이자는 과세됨</div>
		        			</div>
		        		</div>
		        		
		        		<div class="row border-bottom py-2" >
		        			<div class="col-3">
		        				<div>예금자보호여부</div>
		        			</div>
		        			<div class="col-9">
								<div>
									<div class="img-safe"><img src="https://image.kebhana.com/cont/common/img/mall/kdic_logo_new.png"></div>
									<div>이 예금은 예금자보호법에 따라 예금보험공사가 보호하되, 보호 한도는 본 은행에 있는 귀하의 모든 예금보호 대상 금융상품의 원금과 소정의 이자를 합하여 1인당 “최고 5천만원”이며, 5천만원을 초과하는 나머지 금액은 보호하지 않습니다</span>
					        		
					        	</div>
					        	<br>
					        	<div>
									<ul>
										<li>
											준법감시인 심의필 제2023-4161-6호(2023.10.20)
										</li>
										<li>
											본 공시내용의 유효기간 : 2023.10.27~2025.01.25까지
										</li>
									</ul>
								</div>
		        			</div>
		        		</div>
		        		
		        		
		        	</div>
                  </div>
                </div>
              </div><!-- # Faq item-->

              

            </div>

          </div>
        </div>

      </div>
    </section><!-- End Frequently Asked Questions Section -->
		
		</div>
	  </div>
	  </div>
	  
	  
      </div>
    </section><!-- End Services Section -->

    

  </main><!-- End #main -->
</body>
</html>