<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layout/layout}" layout:fragment="Content">
<head>
<title>About</title>
<style>
</style>
</head>

<body>
	<!-- Start Main -->
	<main id="about">
		<!-- Start Breadcrumbs -->
		<div class="breadcrumbs">
			<div class="page-header d-flex align-items-center"
				style="background-image: url('assets/img/page-header.jpg');">
				<div class="container position-relative">
					<div class="row d-flex justify-content-center">
						<div class="col-lg-6 text-center">
							<h2>소개</h2>
							<p>Atlan Bank 팀장을 소개합니다.</p>
						</div>
					</div>
				</div>
			</div>
			<nav>
				<div class="container">
					<ol>
						<li><a href="index.do">Home</a></li>
						<li>소개</li>
					</ol>
				</div>
			</nav>
		</div>
		<!-- End Breadcrumbs -->
		
	</main>
	<!-- End Main -->
</body>
</html>
