<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layout/layout}" layout:fragment="Content">
<head>
<title>지점 검색</title>

</head>

<body>
	<main id="main">

		<!-- ======= Breadcrumbs ======= -->
		<div class="breadcrumbs">
			<div class="page-header d-flex align-items-center"
				style="background-image: url('/atlanbank/assets/img/page-header.jpg');">
				<div class="container position-relative">
					<div class="row d-flex justify-content-center">
						<div class="col-lg-6 text-center">
							<h2>지점 검색</h2>
						</div>
					</div>
				</div>
			</div>
			<nav>
				<div class="container">
					<ol>
						<li><a th:href="@{/index.do}">Home</a></li>
						<li>지점 검색</li>
					</ol>
				</div>
			</nav>
		</div>
		<!-- End Breadcrumbs -->

		<!-- ======= Contact Section ======= -->
		<section id="contact" class="contact">

			<div class="container">
				<div
					style="width: 100%; height: 600px; text-align: center; margin: 0 auto; padding: 20px;">
					<div style="width: 50%; height: 80%; float: left;" class="col-md-6">
						<h2 style="text-align: left; font-weight: 600;">지점 검색</h2>
						<hr>
						<ul>
							<li style="text-align: left;"><span style="color: red;">지점</span>을 선택해주세요</li>
						</ul>
						<form id="form">
							<div id="input" class="is-flex">
								<input type="text" placeholder="지점명을 입력하세요"
									style="float: left; width: 85%;" name="branchname"
									id="InputName" class="form-control mb-2">
								<button id="searchBtn" class="btn btn-primary mb-2" style="width: 13%; height: 35px;">검색</button>
							</div>
						</form>
	
						<div id="branchList"></div>
						
						<!-- Modal -->
						<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
						  <div class="modal-dialog">
						    <div class="modal-content">
						      <div class="modal-header">
						      </div>
						      <div class="modal-body">
						        365 자동화코너 입니다. 번호표 발급 서비스가 제한된 지점입니다.
						      </div>
						      <div class="modal-footer">
						        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
						      </div>
						    </div>
						  </div>
						</div>
					</div>
	
					<div id="map" style="width: 50%; height: 100%; float: left;"></div>
				</div>
			</div>

		</section>
		<!-- End Contact Section -->

	</main>
	<!-- End #main -->


	<script type="text/javascript"
		src="//dapi.kakao.com/v2/maps/sdk.js?appkey=339ace59c5e1aeb3521f43eeef2678f7&libraries=services,clusterer,drawing"></script>

	<script>
	kakao.maps.load(function() {
		
	    const map = new kakao.maps.Map(document.getElementById('map'), { // 지도를 표시할 div
	        center : new kakao.maps.LatLng(37.5696821, 126.9802171), // 지도의 중심좌표 
	        level : 5 // 지도의 확대 레벨 
	    });
	
	    const imageSrc = '/atlanbank/assets/img/maker.png' // 마커이미지의 주소
	    const imageSize = new kakao.maps.Size(30, 30) // 마커이미지의 크기입니다
	    const imageOption = {offset: new kakao.maps.Point(27, 69)}; // 마커이미지의 옵션입니다. 마커의 좌표와 일치시킬 이미지 안에서의 좌표를 설정합니다.
	      
	   // 마커의 이미지정보를 가지고 있는 마커이미지를 생성합니다
	   const markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize, imageOption)
	 
	    // 데이터를 가져오기 위해 jQuery를 사용합니다
	    // 데이터를 가져와 마커를 생성하고 클러스터러 객체에 넘겨줍니다
	    $.get("/atlanbank/ticket/banklist.json", function(data) {
	        // 데이터에서 좌표 값을 가지고 마커를 표시합니다
	        // 마커 클러스터러로 관리할 마커 객체는 생성할 때 지도 객체를 설정하지 않습니다
	        //console.log("data.positions: " + JSON.stringify(data.positions));
	        let markers = $(data.positions).map(function(i, position) {
	            return new kakao.maps.Marker({
	                position : new kakao.maps.LatLng(position.lat, position.lng),
	                image : markerImage
	            });
	        });
	      for(let i=0 ; i<data.positions.length; i++){
	        displayInfo(markers[i], data.positions[i])
	      }
	      $('.infodata').parent().parent().css('height', '200px');
	      
	      // 마커 클러스터러를 생성합니다 
		    const clusterer = new kakao.maps.MarkerClusterer({
		        map: map, // 마커들을 클러스터로 관리하고 표시할 지도 객체 
		        averageCenter: true, // 클러스터에 포함된 마커들의 평균 위치를 클러스터 마커 위치로 설정 
		        minLevel: 10 // 클러스터 할 최소 지도 레벨 
		    });
	        // 클러스터러에 마커들을 추가합니다
	        clusterer.addMarkers(markers);
	    });
	    
	    function setCenter() {            
	        // 이동할 위도 경도 위치를 생성합니다 
	        let moveLatLon = new kakao.maps.LatLng(33.452613, 126.570888);
	        
	        // 지도 중심을 이동 시킵니다
	        map.setCenter(moveLatLon);
	    }
	
	    function panTo() {
	        // 이동할 위도 경도 위치를 생성합니다 
	        let moveLatLon = new kakao.maps.LatLng(33.450580, 126.574942);
	        
	        // 지도 중심을 부드럽게 이동시킵니다
	        // 만약 이동할 거리가 지도 화면보다 크면 부드러운 효과 없이 이동합니다
	        map.panTo(moveLatLon);            
	    }        
	    
	 		let infoCheck = null;
	    //infodata.지점코드 해서 정보를 가지고 온다.
	  	 function displayInfo(infomarker, infodata) {
	    	let iwContent = '<div class="infodata" style="text-align: center; padding:5px; height: 200px;">'
	  						
	  						+ '<table class="table" style="width: 100%;">'
	  						+ '<colgroup>'
	  						+ '<col style="width:100px;">'
	  						+ '<col>'
	  						+ '</colgroup>'
	  						+ '<tr>'
	  						+ '<th><b>지점명<b></th>'
	  						+ '<td>'
	  						+ infodata.bankName 
	  						+ '</td>'
	  						+ '</tr>'
	  						
	  						+ '<tr>'
	  						+ '<th><b>주소<b></th>'
	  						+ '<td>'
	  						+ infodata.bankAddress 
	  						+ '</td>'
	  						+ '</tr>'
	  						
	  						+ '<tr>'
	  						+ '<th><b>영업시간<b></th>'
	  						+ '<td>'
	  						+ infodata.startTime 
	  						+ ' / '
	  						+ infodata.endTime
	  						+ '</td>'
	  						+ '</tr>'
	  						+ '</table>'
	  						+ '<div class="close" onclick="closeCustomOverlay()" title="닫기">X</div>'
	   		,
	     	iwPosition = new kakao.maps.LatLng(infodata.lat,infodata.lng)
		  // 인포윈도우를 생성합니다
		     let infowindow = new kakao.maps.InfoWindow({
		         position : iwPosition, 
		         content : iwContent,
		     });
	  		kakao.maps.event.addListener(infomarker, 'click', function(){
	  			if(infoCheck){
	  				infoCheck.setMap(null);// param이 null ==> 지도에서 infoCheck를 제. 
	  			}
	  			infowindow.open(map, infomarker);
	  			infoCheck = infowindow
	  		})
		    
	  		window.closeCustomOverlay = function() {
 	        infoCheck.setMap(null);
  	    };
		    
	    }
	    //엔터 검색
      document.getElementById("InputName").addEventListener("keydown", function(event) {
          if (event.keyCode === 13) {
              searchBank();
          }
      });
      
	    //버튼 검색
      document.getElementById("searchBtn").addEventListener("click", function() {
    	  searchBank();
      });
      
      function searchBank() {
   	    let event = window.event;

   	    // 이벤트의 기본 동작을 막음
   	    event.preventDefault();
   	    
    	  $.ajax({
	          url : '/atlanbank/ticket/' + $('#InputName').val(),   
	          type : 'get',
	          success : function (data){
	             $('#branchList').empty();

	             let content = '';
	             
	             content +=     '<table class="table table-hover" style="text-align:center">';
	             content +=         '<thead>';
	             content +=             '<tr>'
	             content +=                 '<th scope="col" style="width: 20%;">지점명</th>';
	             content +=                 '<th scope="col" style="width: auto;">주소</th>';
	             content +=                 '<th scope="col" style="width: 15%;">영업시간</th>';
	             content +=                 '<th scope="col" style="width: 10%;">비고</th>';
	             content +=             '</tr>';
	             content +=         '</thead>';
	             content +=         '<tbody>';
	             
	             data.data.forEach(function(item){
	            	 content += '<tr class="chooselocation" id=' + item.bankSeq + '>';
	                 content += '<td style="width: 20%;">' + item.bankName + '</td>';
	                 content += '<td style="width: auto;">' + item.bankAddress + '</td>';
	                 content += '<td style="width: 15%;">' + (item.startTime ? (item.startTime + '~' + item.endTime) : '영업시간 정보 없음') + '</td>';
	                 content += '<td style="width: 5%;">' + (item.type == 1 ? '은행' : 'ATM') + '</td>';
	                 content += '</tr>';
	           	});
	             
	             content +=         '</tbody>';
	             content +=     '</table>';
	             $('#branchList').append(content);
	             
	             // 이동할 위도 경도 위치를 생성합니다 
	             let moveLatLon = new kakao.maps.LatLng(data.data[0].lat, data.data[0].lng);
               
               // 지도 중심을 부드럽게 이동시킵니다
               // 만약 이동할 거리가 지도 화면보다 크면 부드러운 효과 없이 이동합니다
               map.panTo(moveLatLon);
	             
	          },
	          error : function() {
	        	  console.error("Error fetching data:", error);
	          }
	       })
      }
      
	    
    })
    
    $(document).on('click', ".chooselocation", function(){
       let bankSeq = $(this).attr('id');
       let type = $(this).find('td:last-child').text().trim(); // 해당 열의 마지막 td 요소의 텍스트(비고)를 가져옴
				console.log("type", type);
       // 비고가 'ATM'인 경우에만 modal 띄우기
       if (type === 'ATM') {
           $('#exampleModal').modal('show');
       } else {
       		location.href = "/atlanbank/ticket/reservation/" + bankSeq
       }
       
       

    })
  
</script>

</body>
</html>
