<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layout/layout}" layout:fragment="Content">
<head>
<title>지점 현황</title>

<style>
	table td, th{
		/* border:1px solid rgba(0,0,0,.1); */
		padding: 20px;
	}
	
	.type{
		cursor: pointer;
	}
	
	.tdBtn{
		background: #31BB9E;
		color: #fff;
		cursor: pointer;
	}
	
	.ax5-ui-dialog .ax-dialog-header,.btn-default,.btn-default:hover,.btn-default:focus{
		background: #31BB9E;
		color: #fff;
		border: none;
	}
	
</style>
</head>

<body>

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
      <div class="page-header d-flex align-items-center" style="background-image: url('/atlanbank/assets/img/page-header.jpg');">
        <div class="container position-relative">
          <div class="row d-flex justify-content-center">
            <div class="col-lg-6 text-center">
              <h2>번호표 발급</h2>
            </div>
          </div>
        </div>
      </div>
      <nav>
        <div class="container">
          <ol>
            <li><a href="index.html">Home</a></li>
            <li><a href="/atlanbank/ticket/searchbank.do">지점 검색</a></li>
            <li th:text="${bankName} + ' 번호표 발급'"></li>
          </ol>
        </div>
      </nav>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Pricing Section ======= -->
  <section id="pricing" class="pricing">
   <div class="container" style="text-align: center;">
    
    <h2 th:text="${bankName} + ' 지점 현황'"></h2>
	<button id="${bankSeq}" class="btn btn-main mb-2 basket" style="height: 40px;" th:text="'즐겨찾기에 등록'"></button>
	<hr>
	<div class="row">
	<div style="width: 100%;height:85%;float: left;">
		
		<h2 style="text-align: center;">대기 손님 현황</h2>
		<hr>
		<table class="table table-bordered" style="width: 100%;">
			<tr>
				<th colspan="3">
					<span style="color: red;">원하시는 업무</span>를 선택해주세요
				</th>
			</tr>
			<tr>
			    <th class="type" th:name="100">입출금 업무</th>
			    <td th:text="${nt100 != null ? nt100.standby : 0} + ' 명'"></td>
			    <td id="100" class="tdBtn">번호표발급</td>
			</tr>
			<tr>
			    <th class="type" th:name="200">대출 업무</th>
			    <td th:text="${nt200 != null ? nt200.standby : 0} + ' 명'"></td>
			    <td id="200" class="tdBtn">번호표발급</td>
			</tr>
			<tr>
			    <th class="type" th:name="300">외환 업무</th>
			    <td th:text="${nt300 != null ? nt300.standby : 0} + ' 명'"></td>
			    <td id="300" class="tdBtn">번호표발급</td>
			</tr>    
			<tr>
			    <th class="type" th:name="400" >기업 업무</th>
			    <td th:text="${nt400 != null ? nt400.standby : 0} + ' 명'"></td>
			    <td id="400" class="tdBtn">번호표발급</td>
			</tr>
		</table>
	

	</div>
 </div>

	<div style="width: 100%; float: left; height: 85%;">
		<h2 style="text-align: center;">구비서류</h2>
		<hr>
		<div id="docs"></div>
	</div>
 
 </div>  <!-- End class="row justify-content-center" -->
 
 </section>   <!-- End section -->
    

  </main><!-- End #main -->
  
  <script>
  
	$(document).on('click', ".type", function() {
		let bankSeq = "[[${bankSeq}]]";
		let type = $(this).attr('name');
		$.ajax({
			url: '/atlanbank/ticket/' + bankSeq + '/' + type,
			type: 'get',
			success: function(data) {
				$('#docs').empty();
				
				let content = '';
				
				content += '<table class="table">'
				content += '	<tr>'
				content += '		<th style="width: 30%;">업무명</th>'
				content += '		<th>필요서류</th>'
				content += '	</tr>'
				
				data.data.forEach(function(item) {
					content += '<tr>'
					content += '	<td>' + item.detailWorkName + '</td>'
					content += '	<td>' + item.docName + '</td>'
					content += '</tr>'
					
				});
				 content +=     '</table>';
	             $('#docs').append(content);
				
			},
			error : (a,b,c) => {
		  		console.log(a,b,c,);
		  	}
			
		})
	})

	
  </script>

</body>
</html>
