<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layout/layout}" layout:fragment="Content">
<head>
<title>지점 현황</title>

<style>
	table td, th{
		/* border:1px solid rgba(0,0,0,.1); */
		padding: 20px !important;
	}
	
	.type{
		cursor: pointer;
	}
	
	.tdBtn{
		background-color: #31BB9E !important;
		color: #fff !important;
		cursor: pointer !important;
	}
	
	#workTable {
		padding: 20px !important;
	}
	
</style>
</head>

<body>

<main id="main">

  <!-- ======= Breadcrumbs ======= -->
  <div class="breadcrumbs">
    <div class="page-header d-flex align-items-center" style="background-image: url('/atlanbank/assets/img/page-header.jpg');">
      <div class="container position-relative">
        <div class="row d-flex justify-content-center">
          <div class="col-lg-6 text-center">
            <h2>번호표 발급</h2>
          </div>
        </div>
      </div>
    </div>
    <nav>
      <div class="container">
        <ol>
          <li><a href="index.html">Home</a></li>
          <li><a href="/atlanbank/ticket/searchbank.do">지점 검색</a></li>
          <li th:text="${bankName} + ' 번호표 발급'"></li>
        </ol>
      </div>
    </nav>
  </div><!-- End Breadcrumbs -->

    <!-- ======= Pricing Section ======= -->
  <section id="pricing" class="pricing">
   <div class="container" style="text-align: center">
    <div style="text-align: center">
	    <h2 style="font-weight: 700" th:text="${bankName} + ' 지점 현황'"></h2>
			<button id="${bankSeq}" class="btn btn-primary mt-3" style="height: 40px;" th:text="'즐겨찾기에 등록'"></button>
		</div>
		
		<div class="row">
			
			<div class="section-header mt-5">
        <h3>대기 손님 현황</h3>
      </div>
      
			<table class="table table-bordered">
				<tr>
					<th colspan="3">
						<span style="color: red;">원하시는 업무</span>를 선택해주세요
					</th>
				</tr>
				<tr>
			    <th class="type" th:name="100">입출금 업무</th>
			    <td th:text="${nt100 != null ? nt100.standby : 0} + ' 명'"></td>
			    <td id="100" class="tdBtn">번호표발급</td>
				</tr>
				<tr>
			    <th class="type" th:name="200">대출 업무</th>
			    <td th:text="${nt200 != null ? nt200.standby : 0} + ' 명'"></td>
			    <td id="200" class="tdBtn">번호표발급</td>
				</tr>
				<tr>
			    <th class="type" th:name="300">외환 업무</th>
			    <td th:text="${nt300 != null ? nt300.standby : 0} + ' 명'"></td>
			    <td id="300" class="tdBtn">번호표발급</td>
				</tr>    
				<tr>
			    <th class="type" th:name="400" >기업 업무</th>
			    <td th:text="${nt400 != null ? nt400.standby : 0} + ' 명'"></td>
			    <td id="400" class="tdBtn">번호표발급</td>
				</tr>
			</table>
		
	
		</div>

		<div style="width: 100%; float: left; height: 85%;">
		
			<div class="section-header mt-5">
      	<h3>구비서류</h3>
      </div>
			<div id="docs"></div>
		</div>
 
 	</div>  <!-- End class="row justify-content-center" -->
 
 </section>   <!-- End section -->

</main><!-- End #main -->
  
 <script>
  
  const bankSeq = "[[${bankSeq}]]";
  
	window.onload = function(){
		getWorkList(100);
	}
  
	$(document).on('click', ".type", function() {
		let type = $(this).attr('name');
		getWorkList(type);
	});
	
	function getWorkList(type) {
		$.ajax({
			url: '/atlanbank/ticket/worklist/' + bankSeq + '/' + type,
			type: 'get',
			success: function(data) {
				$('#docs').empty();
				
				let content = '';
			   
			  content += '<table class="table table-bordered">'
				content += '	<tr>'
				content += '		<th style="width: 30%;">업무명</th>'
				content += '		<th>필요서류</th>'
				content += '	</tr>'
				
			  Object.keys(data.data).forEach(function(workType) {
				  let documents = data.data[workType];
				  let documentList = documents.join(', ');
					
					content += '<tr>'
					content += '	<td>' + workType + '</td>'
					content += '	<td>' + documentList + '</td>'
					content += '</tr>'
			  });
				  content +=     '</table>';
				  $('#docs').append(content);
			},
			error : (a,b,c) => {
		  		console.log(a,b,c,);
		  	}
			
		});
	}
	
	$(document).on('click', ".tdBtn", function() {
		let service = $(this).attr('id');
		
		$.ajax({
			url: '/atlanbank/ticket/waiting/' + bankSeq + '/' + type,
			type: 'get',
			succes: function (data) {
				let json = JSON.parse(data)['data'];
				let tableTag = "";
				tableTag += '<table style="width: 100%;">';
			
   			tableTag+='<colgroup>';
   			tableTag+='<col style="width:100px;">';
   			tableTag+='<col>';
   			tableTag+='</colgroup>';
   			tableTag+='<tr>';
   			tableTag+='<th>지점</th>';
   			tableTag+='<td>'+json['bankName']+'</td>';
   			tableTag+='</tr>';
   			
   			tableTag+='<tr>';
   			tableTag+='<th>창구</th>';
   			tableTag+='<td>'+json['workName']+'</td>';
   			tableTag+='</tr>';
   			
   			tableTag+='<tr>';
   			tableTag+='<th>번호</th>';
   			tableTag+='<td>'+json['ticketWaitingStatusSeq']+'</td>';
   			tableTag+='</tr>';
   			
   			tableTag+='<tr>';
   			tableTag+='<th>대기인원</th>';
   			tableTag+='<td>'+(json['standby']-1)+'명</td>';
   			tableTag+='</tr>';
   			
   			tableTag+='<tr>';
   			tableTag+='<th>예상시간</th>';
   			tableTag+='<td>약'+json['standbyTime']+'분</td>';
   			tableTag+='</tr>';
   			tableTag+='</table>';
   			dialog.alert(tableTag);
   			
   			console.log(json['numberticketNumber']);
   			let number = (json['numberticketNumber']);
   			
   			//sendLink(number);    			
				
			}
		});
	});
/* 	
 카카오톡 전송 기능 보류

	function sendLink(number) {
		console.log(number)
	    Kakao.Link.sendCustom({
	        templateId: 37293,
	        templateArgs: {
	        	title:
	                '${loginVO.name}',
	            description:
	                '${locations}',
	            number:
	            	number
	        },	
	        callback: function(){
	       	alert("번호표 안내가 전송되었습니다");
	       	}
	      })
		}
	 */
	
  </script>

</body>
</html>
