<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.test.bank.event.mapper.EventMapper">
    <resultMap id="EventResultMap" type="com.test.bank.event.domain.EventDTO">
        <id column="event_seq" property="eventSeq"/>
        <result column="name" property="name"/>
        <result column="content" property="content"/>
        <result column="visual_img" property="visualImg"/>
        <result column="content_img" property="contentImg"/>
        <result column="caution_img" property="cautionImg"/>
        <result column="start_date" property="startDate"/>
        <result column="end_date" property="endDate"/>
        <result column="hits_count" property="hitsCount"/>
        <result column="franchise_seq" property="franchiseSeq"/>
    </resultMap>
    
    <resultMap id="FranchiseResultMap" type="com.test.bank.event.domain.FranchiseDTO">
	    <id column="franchise_seq" property="franchiseSeq"/>
	    <result column="name" property="name"/>
	    <result column="img" property="img"/>
	    <result column="tel" property="tel"/>
	</resultMap>
    
	<select id="getTotalCount" parameterType="map" resultType="int">
	    SELECT COUNT(*) FROM tblEvent
	    <if test="solting == 'user' and searchStatus == 'y'.toString()">
		WHERE UPPER(${category}) LIKE '%' || UPPER(#{word}) || '%'
	    </if>
	</select>
	
	<select id="getEventsWithPaging" parameterType="map" resultType="com.test.bank.event.domain.EventDTO">
		SELECT * FROM (
			SELECT n.*, ROWNUM AS rnum FROM (
				SELECT *
				FROM tblEvent
				ORDER BY tblEvent.event_seq DESC) n
			<if test="solting == 'user' and searchStatus == 'y'.toString()">
			 WHERE UPPER(${category}) LIKE '%' || UPPER(#{word}) || '%'
			</if>
		) WHERE rnum BETWEEN #{startIndex} AND #{endIndex}
	</select>
	
	<select id="getLatestEvents" resultType="com.test.bank.event.domain.EventDTO">
	    SELECT * FROM (
	        SELECT * FROM tblEvent
	        ORDER BY event_seq DESC
	    ) WHERE ROWNUM &lt;= 3
	</select>
	
	<select id="getEventBySeq" parameterType="Integer" resultType="com.test.bank.event.domain.EventDTO">
	    SELECT * FROM tblEvent
	    WHERE event_seq = #{eventSeq}
	</select>

	<select id="getFranchiseBySeq" parameterType="Integer" resultType="com.test.bank.event.domain.FranchiseDTO">
		SELECT * FROM tblFranchise
		WHERE franchise_seq = #{franchiseSeq}
	</select>
	
</mapper>