<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.test.bank.event.mapper.EventMapper">
    <resultMap id="EventResultMap" type="com.test.bank.event.domain.EventDTO">
        <id column="event_seq" property="eventSeq"/>
        <result column="name" property="name"/>
        <result column="content" property="content"/>
        <result column="img" property="img"/>
        <result column="caution" property="caution"/>
        <result column="start_date" property="startDate"/>
        <result column="end_date" property="endDate"/>
        <result column="hits_count" property="hitsCount"/>
        <result column="franchise_seq" property="franchiseSeq"/>
    </resultMap>
    
	<select id="getTotalCount" parameterType="map" resultType="int">
	    select count(*) from tblEvent
	    <if test="solting == 'user' and searchStatus == 'y'.toString()">
		where UPPER(${category}) like '%' || UPPER(#{word}) || '%'
	    </if>
	</select>
	
	<select id="getEventsWithPaging" parameterType="map" resultType="com.test.bank.event.domain.EventDTO">
		select * from (
			select n.*, rownum as rnum from (
				select *
				from tblEvent
				order by tblEvent.event_seq desc) n
			<if test="solting == 'user' and searchStatus == 'y'.toString()">
			 where UPPER(${category}) like '%' || UPPER(#{word}) || '%'
			</if>
		) where rnum between #{startIndex} and #{endIndex}
	</select>
	
</mapper>
