<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layout/layout}" layout:fragment="Content">
<head>
<title>카드</title>

<!-- toastr -->
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">

<style>
	/* section empty space */
	section {
		margin: 20px 135px;
		padding: 20px 60px;
	}
	
	/* responsive */
	@media (max-width: 1400px) {
		main, footer {
			min-width: 1140px;
		}
		
		.container {
			min-width: 1140px;
		}

	}
	
</style>
</head>

<body>
	<!-- Start Main -->
	<main id="main">
		<!-- ======= Breadcrumbs ======= -->
		<div class="breadcrumbs">
			<div class="page-header d-flex align-items-center"
				style="background-image: url('/atlanbank/assets/img/card/credit-card-851502_1280.jpg');">
				<div class="container position-relative">
					<div class="row d-flex justify-content-center">
						<div class="col-lg-6 text-center">
							<h2>나의 카드</h2>
						</div>
					</div>
				</div>
			</div>
			<nav>
				<div class="container">
					<ol>
						<li><a href="/atlanbank/index.do">Home</a></li>
						<li><a href="/atlanbank/member/card/view.do">MyPage</a></li>
					</ol>
				</div>
			</nav>
		</div>
		<!-- End Breadcrumbs -->
		
		<!-- Mypage Card Section -->
		<section>
			<div>
				<h2>바로출금결제</h2>
				
				<!-- 바로출금결제 과정 순서도 -->
				<div class="mt-30">
					<div class="process-box">
						<div class="step1 completed">1. 정보입력</div>
						<div class="step2 completed">2. 본인인증</div>
						<div class="step3 now"><strong>3. 정보확인</strong></div>
						<div class="step4">4. 완료</div>
					</div>
				</div>
				 
				<!-- 정보확인 -->
				<form method="POST" action="/atlanbank/member/card/payment.do" id="auth-form">
					<div>
						<div id="ajax-value"></div>
					</div>
					<!-- 버튼 -->
					<div style="text-align: center; padding: 30px;">
						<button type="button" class="authentication-btn" onclick="prevStep()">이전</button>
						<button type="button" id="nextStepBtn" class="authentication-btn"  onclick="nextStep()" style="margin-right: 20px;">결제</button>
						<button type="button" class="authentication-btn" onclick="location.href='/atlanbank/member/card/view.do';">취소</button>
					</div>
					<!-- 진행과정 -->
					<input type="hidden" name="flag" value="4">
					
					<!-- 결제범위 -->
					<input type="hidden" name="range" th:value="${range}">
					
					<!-- 결제방식 -->
					<input type="hidden" name="method" th:value="${method}">
					
					<!-- 결제금액 -->
					<input type="hidden" name="totalAmount">
					
					<!-- 토큰 -->
					<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
				</form>
			</div>
		</section> <!-- End Mypage Card Section -->
		
		<!-- 안내사항 Section -->
		<section>
			<div class="noticeArea">
				<h4 class="title">안내사항</h4>
				<ul class="listStyle1 indent mt-30">
					<li>청구금액결제 내역을 확인하시고, [결제] 버튼을 클릭하십시오.</li>
					<li>할부 및 일부결제금액이월약정(리볼빙) 이용 건의 이번달 결제금액을 미리 결제하시면 결제일 이전까지 해당 이용건에 대한 추가 결제가 불가합니다.</li>
					<li>아틀란은행 이외 결제계좌를 이용하시는 고객님의 경우 바로출금 결제 미처리 시 결제계좌에서 출금될 수 있으며, 출금일로부터 2영업일 후 결제계좌로 환급됩니다. 입금 전 처리를 원하시는 경우 고객센터(1234-8282)로 문의 바랍니다.</li>
				</ul>
			</div>
		</section>
		<!-- //End 안내사항 Section -->
		
		
	</main>
	<!-- End Main -->
	
	<!-- toastr -->
	<script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

	<!-- Script -->
	<script>
		
		$(document).ready(function() {
			checkAmount();
		});
	
		var csrfToken = $("meta[name='_csrf']").attr("content");
		var csrfHeader = $("meta[name='_csrf_header']").attr("content");
	
		let obj = {
			range: $('input[name="range"]').val(),
			method: $('input[name="method"]').val() 
		};
		
		function checkAmount() {
			$.ajax({
				type: 'POST',
				url: '/atlanbank/card/checkamount',
				headers: {'content-Type': 'application/json'},
				data: JSON.stringify(obj),
				dataType: 'html',
				beforeSend: function(xhr) {
			        xhr.setRequestHeader(csrfHeader, csrfToken);
			    },
			    success: function(result) {
			    	$('#ajax-value').html(result);
			    },
			    error: function(a, b, c) {
			    	console.log(a,b,c);
				}
			});
		}
	
		//Enter key > submit block
		
		//Previous Button
		function prevStep() {
			$('input[name="flag"]').val("2");
    		$('form').submit();
		}
	
		//Next Button
		function nextStep() {

			var csrfToken = $("meta[name='_csrf']").attr("content");
			var csrfHeader = $("meta[name='_csrf_header']").attr("content");
			
			let form = $('#auth-form');
			
			let obj = {
				amount: $('input[name="totalAmount"]').val(),
			};
			
			$.ajax({
				type: 'POST',
				url: '/atlanbank/card/checkbalance',
				headers: {'content-Type': 'application/json'},
				data: JSON.stringify(obj),
				dataType: 'json',
				beforeSend: function(xhr) {
			        xhr.setRequestHeader(csrfHeader, csrfToken);
			    },
			    success: function(result) {
			    	
			    	if (result > 0) {
			    		//pass
			    		$('input[name="flag"]').val("4");
			    		form.submit();
			    	} else {
			    		//fail
			    		toastr.error('대금 결제 계좌의 잔액이 부족합니다. 충분한 잔액을 보유하여 재시도 바랍니다.', '잔액부족');
			    	}
			    	
			    },
			    error: function(a,b,c) {
			    	console.log(a,b,c);
			    }
				
			});
		}
		
		//toastr 설정
		toastr.options = {
			"closeButton": false,
			"debug": false,
			"newestOnTop": false,
			"progressBar": false,
			"positionClass": "toast-bottom-center",
			"preventDuplicates": false,
			"onclick": null,
			"showDuration": "300",
			"hideDuration": "1000",
			"timeOut": "5000",
			"extendedTimeOut": "1000",
			"showEasing": "swing",
			"hideEasing": "linear",
			"showMethod": "fadeIn",
			"hideMethod": "fadeOut"	
		};
		
	</script>


</body>
</html>
