<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layout/layout}" layout:fragment="Content">
<head>
<title>카드</title>

<!-- toastr -->
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">

<style>
	/* section empty space */
	section {
		margin: 20px 135px;
		padding: 20px 60px;
	}
	
	/* responsive */
	@media (max-width: 1400px) {
		main, footer {
			min-width: 1140px;
		}
		
		.container {
			min-width: 1140px;
		}

	}
</style>
</head>

<body>
	<!-- Start Main -->
	<main id="main">
		<!-- ======= Breadcrumbs ======= -->
		<div class="breadcrumbs">
			<div class="page-header d-flex align-items-center"
				style="background-image: url('/atlanbank/assets/img/card/credit-card-851502_1280.jpg');">
				<div class="container position-relative">
					<div class="row d-flex justify-content-center">
						<div class="col-lg-6 text-center">
							<h2>나의 카드</h2>
						</div>
					</div>
				</div>
			</div>
			<nav>
				<div class="container">
					<ol>
						<li><a href="/atlanbank/index.do">Home</a></li>
						<li><a href="/atlanbank/member/card/view.do">MyPage</a></li>
					</ol>
				</div>
			</nav>
		</div>
		<!-- End Breadcrumbs -->
		
		<!-- My Info Section -->
		<!-- <section>
			<div>
				<div th:text="|${dto.name}님|"></div>
				<div style="display: flex; flex-direction: column; background: #F9FAFC; border-radius: 5px; padding: 20px 30px;">
					<div style="display: flex; justify-content: space-around;">
						<div>명세서수령</div>
						<div>스마트폰앱(카카오)</div>
					</div>
					<div style="display: flex; justify-content: space-around;">
						<div>카드사용알림</div>
						<div>PUSH(무료)</div>
					</div>
				</div>
			</div>
		</section> --> <!--End My Info Section -->
		
		<!-- Mypage Card Section -->
		<section>
			<div>
				<div th:text="|${dto.name}님|" style="font-size: 1.3rem; padding: 10px;"></div>
				
				<!-- Quick Menu -->
				<div style="background: #F9FAFC; border-radius: 5px;">
					<div class="quickmenu-box">
						<div id="card-history" onclick="location.href='/atlanbank/member/card/history.do';" style="border-right: 1px solid #e1e1e1;">카드이용내역</div>
						<div id="payment" onclick="location.href='/atlanbank/member/card/payment.do';" style="border-right: 1px solid #e1e1e1;">즉시결제</div>
						<div id="billing-statement" onclick="alert('지원하지 않는 기능입니다.');" style="border-right: 1px solid #e1e1e1;">이용대금명세서</div>
						<div id="payment-history" onclick="alert('지원하지 않는 기능입니다.');" style="border-right: 1px solid #e1e1e1;">대금결제내역</div>
						<div id="mycard" onclick="alert('지원하지 않는 기능입니다.');" style="border-right: 1px solid #e1e1e1;">나의 카드</div>
						<div id="report-loss" onclick="reportLoss()">분실신고</div>
					</div>
				</div>
				
				<!-- 결제예정금액 -->
				<div class="overview-container mt-30">
					<div class="title">결제예정금액</div>
					<div class="price"><a href="javascript:void(0);"  th:text="|${#numbers.formatInteger(thisMonthAmount, 0, 'COMMA')}원|"></a></div>
					<div class="btn-box">
						<a href="/atlanbank/member/card/payment.do">바로결제</a>
						<a href="javascript:void(0);" onclick="applyRevolving()">일부결제금액<br>이월약정(리볼빙)</a>
					</div>
				</div>
				
				<!-- 이용내역 -->
				<div class="history-container">
					<div class="title-box">
						<div class="title">최근이용내역</div>
						<div class="btn-box"><a href="/atlanbank/member/card/history.do">자세히보기<i class="bi bi-caret-right-fill"></i></a></div>
					</div>
					<div class="history">
						<table>
							<colgroup>
								<col style="width: 20%;">
								<col style="width: 20%;">
								<col style="width: 40%;">
								<col style="width: 20%;">
							</colgroup>
							<thead>
								<tr>
									<th style="border-left: 0;">이용일</th>
									<th>이용카드</th>
									<th>이용하신곳</th>
									<th style="border-right: 0;">이용금액</th>
								</tr>
							</thead>
							<tr th:each="history, historyStat : ${historyList}">
								<td th:text="${#strings.substring(history.transactionDate, 0, 10)}" style="border-left: 0; text-align: center;"></td>
								<td th:utext="${history.cardName}" style="text-align: center;"></td>
								<td th:utext="${history.name}" style="text-align: center;"></td>
								<td th:text="${#numbers.formatInteger(history.amount, 0, 'COMMA')}" style="border-right: 0; text-align: right"></td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</section> <!-- End Mypage Card Section -->
		
		
	</main>
	<!-- End Main -->

	<!-- toastr -->
	<script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
	
	<!-- Script -->
	<script>
		
		function reportLoss() {
			toastr.success('카드 분실 신고가 완료되었습니다.', '카드 분실 신고');
		}
	
		function applyRevolving() {
			toastr.success('카드 리볼빙 신청이 완료되었습니다.', '카드 리볼빙 신청');
		}
	
		//toastr 설정
		toastr.options = {
			"closeButton": false,
			"debug": false,
			"newestOnTop": false,
			"progressBar": false,
			"positionClass": "toast-bottom-center",
			"preventDuplicates": false,
			"onclick": null,
			"showDuration": "300",
			"hideDuration": "1000",
			"timeOut": "5000",
			"extendedTimeOut": "1000",
			"showEasing": "swing",
			"hideEasing": "linear",
			"showMethod": "fadeIn",
			"hideMethod": "fadeOut"	
		};
	</script>


</body>
</html>
