<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.test.bank.ticket.mapper.TicketMapper">
	
	<select id="connectionTest" resultType="Integer">
 		select count(*) from tblBank
 	</select>
	
	<select id="bankList"  resultType="com.test.bank.ticket.domain.BankDTO">
		select * from tblBank
	</select>
	
	<select id="searchedBankList" parameterType="String" resultType="com.test.bank.ticket.domain.BankDTO">
		select * from tblBank where bank_name like '%' || #{location} || '%'
	</select>

</mapper>