<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.test.bank.ticket.mapper.TicketMapper">
	
	<select id="connectionTest" resultType="Integer">
 		select count(*) from tblBank
 	</select>
	
	<select id="bankList"  resultType="com.test.bank.ticket.domain.BankDTO">
		select * from tblBank
	</select>
	
	<select id="searchedBankList" parameterType="String" resultType="com.test.bank.ticket.domain.BankDTO">
		select * from tblBank where bank_name like '%' || #{location} || '%'
	</select>
	
	<select id="selectStandBy100" parameterType="String" resultType="com.test.bank.ticket.domain.TicketWaitingStatusDTO">
		select count(*) as standby, (count(*)*10) as standbyTime
		from tblTicketWaitingStatus where bank_seq = #{bankSeq} and work_seq = 100
	</select>
	
	<select id="selectStandBy200" parameterType="String" resultType="com.test.bank.ticket.domain.TicketWaitingStatusDTO">
		select count(*) as standby, (count(*)*10) as standbyTime
		from tblTicketWaitingStatus where bank_seq = #{bankSeq} and work_seq = 200
	</select>
	
	<select id="selectStandBy300" parameterType="String" resultType="com.test.bank.ticket.domain.TicketWaitingStatusDTO">
		select count(*) as standby, (count(*)*10) as standbyTime
		from tblTicketWaitingStatus where bank_seq = #{bankSeq} and work_seq = 300
	</select>
	
	<select id="selectStandBy400" parameterType="String" resultType="com.test.bank.ticket.domain.TicketWaitingStatusDTO">
		select count(*) as standby, (count(*)*10) as standbyTime
		from tblTicketWaitingStatus where bank_seq = #{bankSeq} and work_seq = 400
	</select>
	
	<select id="selectWorkList" parameterType="String" resultType="com.test.bank.ticket.domain.WorkListDTO">
		select * from vwWorkList where bank_seq = #{bankSeq} 
	</select>
	
	<select id="getWorkList" parameterType="String" resultType="com.test.bank.ticket.domain.WorkListDTO">
		select * from vwWorkList where bank_seq = #{bankSeq} and work_seq = #{type}
	</select>
	
	<select id="getWaitingNumber" parameterType="String" resultType="integer">
		select coalesce(max(ticket_waiting_status_seq), 0)
		from tblTicketWaitingStatus where bank_seq = #{bankSeq} and work_seq = #{type}
	</select>

</mapper>