<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layout/layout}" layout:fragment="Content">
<head>
<title>Forex</title>
<style>
#calculate{
	margin-left: 20px;
	background-color: #b5b5b5;
	color: #fff;
}
#calculate:hover{
 	background:rgb(39, 86, 255);
}
</style>
 <script th:inline="javascript">
        /*<![CDATA[*/
        var exchangelist = /*[[${exchangelist}]]*/ null;
        /*]]>*/
    </script>
</head>
<body>
	<!-- Start Main -->
	<main id="main">
		<!-- ======= Breadcrumbs ======= -->
		<div class="breadcrumbs">
			<div class="page-header d-flex align-items-center"
				style="background-image: url('/atlanbank/assets/img/forex/main.png');">
				<div class="container position-relative">
					<div class="row d-flex justify-content-center">
						<div class="col-lg-6 text-center">
							<h2>환전 신청하기</h2>
							<p>Apply for Currency Exchange</p>
						</div>
					</div>
				</div>
			</div>
			<nav>
				<div class="container">
					<ol>
						<li><a href="index.do">Home</a></li>
						<li>환전 신청하기</li>
					</ol>
				</div>
			</nav>
		</div>
		<!-- End Breadcrumbs -->
		
		<div class="container" style="margin-right: 170px; margin-top: 0px; margin-bottom: 100px;">
			<h2 style="margin-top: 50px; text-align: center; margin-bottom: 30px;">외화 환전</h2>
			<div style="box-shadow: 5px 10px 30px grey; text-align: center; padding: 20px 0 20px 0;">
				<p style="color: black;">외화 환전 예상금액을 계산해 보세요.</p>
				<button type="button" class="btn" data-bs-toggle="modal" id="calculate"
					data-bs-target="#Modal">계산하기</button>
			</div>
		</div>
		
		<!-- 계산기 -->
		<div class="modal fade" id="Modal" tabindex="-1"
      aria-labelledby="ModalLabel" aria-hidden="true" style="box-shadow: 5px 10px 30px grey;background: #4a4747cc">
      <div class="modal-dialog">
      
         <div class="modal-content" style="background-color:#fff;width:500px;margin-left:40px;border: 0.5rem solid #0c8b8b;">
            <div class="modal-header" style="background-color:#f7ffff">
            <h5 class="modal-title" id="ModalLabel" style="color:#00b19a;    letter-spacing: -0.84px;text-align: center;">계산기</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal"
            aria-label="Close"></button>
            </div>
            <div style="border-top:2px solid #99b7b4;margin-left:5px;margin-right:5px">
            <div class="modal-body"  style="border-radius: 0.25em;margin-top:15px;margin-left:11px">
            <div class="d-flex" style="margin-left:25px;">
            <div class="_mb10" style="text-align:left;display:block">
            <select class="me-2" id="sel_account_01" onclick="autoCal2()" style="width:118px;height:40px;">
               <option value="1">매매기준율</option>
               <option value="2">송금보내실때</option>
               <option value="3">송금받으실때</option>
               <option value="4">현찰사실때</option>
               <option value="5">현찰파실때</option>
            </select>
            </div>

            <!-- 국가선택 -->
			<div class="exchange-rate">
				<div class="currency-info">
					<div class="select-currency">
						<select class="me-2" id="sel_account" name="currency" style="width: 60px; height: 40px;"
								onchange="selectCountry(this.value);">
							<th:block th:each="list : ${exchangelist}">
                    			<option th:if="${list.nationKr.contains('일본')}" th:text="${#strings.substring(list.nationKr, 0, #strings.length(list.nationKr)-9)}" th:value="${list.nationKr}"></option>
                    			<option th:unless="${list.nationKr.contains('일본')}" th:text="${#strings.substring(list.nationKr, 0, #strings.length(list.nationKr)-3)}" th:value="${list.nationKr}"></option>
                			</th:block>
						</select>
					</div>
				</div>
			</div>

			<!-- 입력창 -->
            <div class="input-money d-flex">
               <input type="text" id="calc_forAmt" name="calc_forAmt" maxlength="15" 
                  title="환율계산할 금액 입력" value="1"
                  onkeyup="setNumeric(this); autoCal2();" style="width:154px" /> 
                  <div class="unit" id="unit" style="margin-top:5px;margin-left:7px;font-family:Pretendard-Regular; font-size: 15.5px;
                  ">USD</div>
            </div>
            </div>
            </div>

            <span class="exchange" style="background-color:#fff"><span class="blind" style="margin-left:226px;margin-bottom:80px;font-family: 'Noto Sans KR', sans-serif;margin-right:10px;justify-content:center;color:#0c8b8b;size:100px">  </span></span>
            
            <i class="fa-solid fa-arrow-down" style="width:500px;margin-left:-10px">
            </i>
            
            <!-- 외화 영역 -->
            <div style="border-bottom: 0.25em;">
            <div class="currency-info d-flex" style="background-color: #fff;margin-left:30px;border-radius: 0.5em;margin-top:7px">
            <div class="select-currency d-flex">
               <div class="img" style="background-color:#f7ffff;margin-left:20px">
               <img src="https://airport.mibank.me/images/flag/big/flag_kr@3x.png" alt="KR" style="width:50px;">
               </div>
               <div class="currency KRW" style="margin-top:8px;font-size:11px;font-family:Pretendard-Regular;margin-left:0px">대한민국KRW&nbsp;</div>
            </div>
            <div class="input-money" style="background-color:#fff">
               <input type="text" id="calc_krwAmt" name="calc_krwAmt" style="width:231px; height:40px; margin-left:6px"  title="한화 금액 입력" /> 
               <span class="unit">원</span>
            </div>
            </div>
         <div class="date" id="set_date" style="text-align:center;background-color:#fff;color:#99b7b4;margin-top:20px;border-bottom:2px solid #99b7b4;padding-bottom:20px"></div>
         </div>
         </div>
         
            <script>  //계산기 내 현재 시간 표시
            Date.prototype.format = function(f) {
                   if (!this.valueOf()) return " ";
                   var d = this;
                   return f.replace(/(yyyy|yy|MM|dd|E|hh|mm|ss|a\/p)/gi, function($1) {
                          switch ($1) {
                                 case "yyyy": return d.getFullYear();
                                 case "yy": return (d.getFullYear() % 1000).zf(2);
                                 case "MM": return (d.getMonth() + 1).zf(2);
                                 case "dd": return d.getDate().zf(2);
                                 case "hh": return ((h = d.getHours() % 12) ? h : 12).zf(2);
                                 case "mm": return d.getMinutes().zf(2);
                                 case "ss": return d.getSeconds().zf(2);
                                 case "a/p": return d.getHours() < 12 ? "오전" : "오후";
                                 default: return $1;
                          }
                   });
            };
             String.prototype.string = function(len){var s = '', i = 0; while (i++ < len) { s += this; } return s;};
               String.prototype.zf = function(len){return "0".string(len - this.length) + this;};
               Number.prototype.zf = function(len){return this.toString().zf(len);};

            document.getElementById("set_date").innerHTML = new Date().format("yyyy년 MM월 dd일 a/p hh시 mm분 ss초");
         </script>
         
               <ul class="list_type1 s2" style="background-color:#f7ffff;margin-bottom:3px;">
                  <li>환율계산기는 단순 참고용으로 위 계산결과는 환율변동 또는<br> 우대율 적용에 따라 실제 거래 시
                     적용되는 환율과 다를 수 있습니다.</li>
                  <li>현재 고시된 환율은 미달러 기준 1만 달러 상당액 미만 시 <br>적용되는 환율입니다.<br>(단,
                     USD, EUR, JPY, GBP, CAD, NZD, AUD, CNY, CHF, HKD, SGD, AED,
                     THB를 제외한 기타 통화는 미달러 기준 5만 달러 <br>상당액 미만)
                  </li>
               </ul>
            
            <div class="modal-footer" style="background-color:#f7ffff">
               <button type="button" class="btn btn-secondary"
                  data-bs-dismiss="modal" >취소</button>
               <button type="button" class="btn btn-secondary"
                  onclick="Confirm()" style="margin-right:150px">확인</button>
            </div>
            </div>
         </div>
      </div>
      
		<script>
		
			function Confirm() {  //환전완료
				alert('완료되었습니다.');
			}
			
			function setNumeric(num) {  //입력창에 숫자만 가능하도록
				var numeric = Number(num.value);
				num.value = numeric;
			}
			
			function selectCountry(value) {
				//console.log(value);  //뒤에 단위까지 전부 나옴
			    $('#unit').empty();
			    
			    var selectedCountry = exchangelist.find(function(item) {
			        return item.nationKr==value;
			    });
			    
			    //console.log(selectedCountry.nationKr);
			    if (selectedCountry.nationKr=='일본JPY(100엔)') {  //일본
			        unitValue = '100엔';
			        $('#unit').append(unitValue);
			        autoCal2();
			    }else { //일본 제외
			        var unitValue = selectedCountry.nationKr.slice(-3);  //nationKr에서 뒤에서 3자리 가져오기(단위)
			       
			        $('#unit').append(unitValue);
			        autoCal2();
			    }
			} 

			var num2 = 0
			
			function autoCal2() {
			    var currency = 0;
			    var current = 0;
			    //var current2 = 0;
			    var calc_total = 0;

			    var result = [];
			    var result2 = [];  //현찰 사실 때 환율

			    // 선택된 화폐와 거래 타입을 가져오기
			    currency = $("#sel_account option:selected").val();
			    console.log(currency);
			    var type = $("#sel_account_01 option:selected").val();

			    // 서버로부터 데이터 받아오기
			    $.ajax({
			        url: 'getExchangeList',
			        type: 'GET',
			        dataType: 'json',
			        success: function(exchangelist) {
			            // exchangelist를 사용하여 result와 result2를 구성
			            if (type == '1') {
			                for (var i = 0; i < exchangelist.length; i++) {
			                    result.push(exchangelist[i].buyBasicRate);
			                }
			            } else if (type == '2') {
			                for (var i = 0; i < exchangelist.length; i++) {
			                    result.push(exchangelist[i].transferSendRate);
			                }
			            } else if (type == '3') {
			                for (var i = 0; i < exchangelist.length; i++) {
			                    result.push(exchangelist[i].transferReceiveRate);
			                }
			            } else if (type == '4') {
			                for (var i = 0; i < exchangelist.length; i++) {
			                    result.push(exchangelist[i].cashBuyRate);
			                }
			            } else if (type == '5') {
			                for (var i = 0; i < exchangelist.length; i++) {
			                    result.push(exchangelist[i].cashSellRate);
			                }
			            }

			            for (var i = 0; i < exchangelist.length; i++) {
			                result2.push(exchangelist[i].cashBuyRate);  //현찰 사실 때 환율
			            }

			            current = result[exchangelist.findIndex(function(item) {
			                return item.nationKr == currency;
			            })];
			            
			         	//calc_forAmt에 입력된 값에 대해 계산하기
			            var calc_forAmtValue = Number($('#calc_forAmt').val());
			            calc_total = calc_forAmtValue * current;
			            num2 = calc_forAmtValue;
			            
			            //계산 결과를 input[name="calc_krwAmt"]에 표시
			            $('input[name="calc_krwAmt"]').val(calc_total.toFixed(2));
			        
			        },
			        error: function() {
			            console.error('데이터를 가져오지 못했습니다.');
			        }
			    });
			}
		</script>
		
	</main>
	<!-- End Main -->

</body>
</html>
