<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layout/layout}" layout:fragment="Content">
<head>
<title>Forex</title>
<style>
tr, th, td {
	border: 1px solid #c1bdba;
}
table {
	width:100%;
	margin-top: 20px;
	margin-bottom: 20px;
}
</style>

</head>

<body>
	<!-- Start Main -->
	<main id="main">
		<!-- ======= Breadcrumbs ======= -->
		<div class="breadcrumbs">
			<div class="page-header d-flex align-items-center"
				style="background-image: url('assets/img/page-header.jpg');">
				<div class="container position-relative">
					<div class="row d-flex justify-content-center">
						<div class="col-lg-6 text-center">
							<h2>환율 조회하기</h2>
							<p>Exchange rate Inquiry page</p>
						</div>
					</div>
				</div>
			</div>
			<nav>
				<div class="container">
					<ol>
						<li><a href="index.do">Home</a></li>
						<li>환율 조회</li>
					</ol>
				</div>
			</nav>
		</div>
		<!-- End Breadcrumbs -->

		<div style="width:900px;">
			<table>
				<thead>
					<tr>
						<th colspan="2" rowspan="2">통화종류</th>
						<th rowspan="2">매매기준율</th>
						<th colspan="2">송금(전신환)</th>
						<th colspan="2">현찰</th>
					</tr>
					<tr>
						<th>보내실 때</th>
						<th>받으실 때</th>
						<th>사실 때</th>
						<th>파실 때</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
				</tbody>
			</table>
		</div>

	</main>
	<!-- End Main -->

</body>
</html>
